button.feedback-button {
    border: none;
    color: black;
    height: 4rem;
    width: 4rem;
    padding: 0;
    border-radius: 100%;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1rem;
    opacity: 20%;
}

div.modalWrapper {
    font-family: 'TwitterChirp', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

div.modal {
    max-width: 50rem;
    padding: 2rem 3rem;
    margin: 2rem 3rem;
    background-color: white;
    border-radius: 1rem;
}

div.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

textarea.feedback-input {
    font-family: inherit;
    font-size: 15px;
    padding: 1rem 1.5rem;
    height: 7rem;
    width: calc(100% - 3rem);
    line-height: 1.75rem;
}

div.feedback-tweet {
    border-radius: 1rem;
    padding: 1rem 2rem; /* top/bottom left/right */
    border: #cfd9de 1px solid; /* the color twitter uses for quote tweet borders. */
    margin: 3rem 0;
}

h1.feedback-title {
    font-weight: bold;
    font-size: 2rem;
    opacity: 70%;
}

p.feedback-description {
    opacity: 50%;
}

button.feedback-submit {
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    background-color: #00acee; /* twitter theme color */
    color: white;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: relative;
    float: right;
}

button.feedback-submit:hover {
    background-color: #00a0d2;
}
