* {
    box-sizing: border-box;
}

button.feedback-button {
    border: none;
    background-color: transparent;
    padding: 8px;
    border-radius: 100%;
    cursor: pointer;
    transition: ease-in-out 0.2s all;
    height: calc(8px + 8px + 18px);
    overflow-y: hidden;
}

button.feedback-button:hover {
    /* make svg stroke color the twitter theme color */
    color: #00acee;
    background-color: rgba(0, 172, 238, 0.1);
}

button.feedback-button:hover .feedback-button-icon circle, button.feedback-button:hover .feedback-button-icon line {
    stroke: #00acee;
}

svg.feedback-button-icon {
    overflow: hidden;
}

div.feedback-wrapper {
    position: fixed;
    bottom: 6rem;
    right: 1rem;
    font-family: "TwitterChirp";
}

textarea.feedback-input {
    font-family: inherit;
    font-size: 15px;
    padding: 1rem 1.5rem;
    height: 7rem;
    width: calc(100% - 3rem);
    line-height: 1.75rem;
}

p.feedback-label {
    opacity: 70%;
    font-weight: bold;
}

button.reset-button {
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    background-color: #00acee; /* twitter theme color */
    color: white;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out; 
    margin-top: 8rem;
}

button.reset-button:hover {
    background-color: #00a0d2;
}
